<form method="post"  action="/client/panier/filtre"   style="display: inline-block">
    <div class="row">
        <div class="form-group col">
            <h4>Nom de l'article :</h4>
            <input name="filter_word"  type="text" placeholder="Recherche" size="10" class="form-control"
                   value="{% if session['word'] %}{{ session['word'] }}{% endif %}"  >
        </div>
       {% if itemsFiltre is defined %}
        <div class="form-group col">
            <h4>Les Marsques disponibles:</h4>
            {% if not session['code_marque'] %}
                <input type="radio" name="filter_types" value="0" checked>pas de marque<br>
            {% endif %}
            {% for itemFiltre in itemsFiltre %}
            <input type="radio" name="filter_types" value="{{ itemFiltre.code_marque }}"
                   {% set idItem = itemFiltre.code_marque | string %}
                   {% if session['code_marque'] %}
                       {{ ' checked ' if (idItem in session['code_marque']) else '' }}
                   {% endif %}

                >  {{ itemFiltre.nom_marque }}
                <br>
            {% endfor %}
        </div>
        {% endif %}

        <div class="form-group col">
            <h5>Prix :</h5><br>
                <span>min</span>
                <input class="form-control" name="filter_prix_min"  type="number" placeholder="min"  size="3"
                value="{% if session['prix_min'] %}{{ session['prix_min'] }}{% else %}0{% endif %}" ><br>
                <span>max</span>
                <input class="form-control" name="filter_prix_max"  type="number" placeholder="max"  size="3"
                 value="{% if session['prix_max'] %}{{ session['prix_max'] }}{% else %}999990{% endif %}" >
        </div>
    </div>
    <div class="row">
        {% if not(session['word'] or session['prix_max'] or session['prix_min'] or session['code_marque']) %}
            <button type="submit" class="btn btn-primary" style="display: inline-block;">Search <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg></button>
        {% endif %}
    </div>
</form>
<br>
<div class="row">
{% if session['word'] or session['prix_max'] or session['prix_min'] or session['code_marque']%}
    <form  action="/client/panier/filtre/suppr"  style="display: inline-block;"  method="post" >
        <button class="btn btn-primary" > Cancel <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
</svg></button>
    </form>
{% endif %}
</div>

