<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SAE BDD</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" >
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.css') }}" >
        <link rel="stylesheet" href="{{ url_for('static', filename='mes_styles.css') }}" >
    {% endblock %}
</head>
<body>

{% include('auth/_nav.html') %}


<div class="container">
    <br><br><br><br>
    {% block body %}
    <div class="row bg-light rounded">
        <h2>Bienvenu sur le site de N.F.Té-Télephone</h2>
        <img src="/static/images/imgSite.jpg" height="=45" width="45">
    </div><br><br><br>
    {% endblock %}
</div>

{% block javascripts %}
    <script src="{{ url_for('static', filename='assets/js/jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/popper.min.js') }}" ></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap.js') }}" ></script>
{% endblock %}

</body>
</html>
