{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>afficher les articles</title>
{% endblock %}

{% block body %}
<h3>articles</h3>
<div class="row">
                {% for article in articles  %}
                    {% if article.stock < 25 and article.stock>0 %}
                        <div class="card col-4 mt-4 bg-warning">
                    {% elif article.stock < 1 %}
                        <div class="card col-4 mt-4 bg-danger">
                    {% else %}
                        <div class="card col-4 mt-4 bg-success">
                    {% endif %}
                            <div class="card-body border-dark rounded">
                                <a href="/admin/article/edit/{{ article.id_telephone }}">

                                <h2 class="card-title">
                                    <span style="color: #0b2e13">

                                        {{ article.modele }}

                                        {% if article.stock < 25 and article.stock>0 %}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/></svg>
                                        {% elif article.stock < 1 %}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>
                                        {% else %}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/></svg>
                                        {% endif %}

                                    </span><br>
                                    {{ article.prix }}
                                    €

                                </h2>
                                <div class="card-body">
                                     {%  if article.image_telephone is not none %}
                                        <img class="card-img-top rounded mx-auto d-block"  style="width:100px;height:100px"  src="{{ url_for('static', filename = 'images/' + article['image_telephone']) }}"  alt="image  de {{ article.modele }}" >
                                    {% else %} <img class="card-img-top rounded mx-auto d-block"   style="width:100px;height:100px"   src="{{ url_for('static', filename='images/no_photo.jpeg')}}"  alt="image  de {{ article.modele }}" >
                                    {% endif %}
                                    <hr>
                                </div>
                                </a>
                            </div>
                            <div class="card-footer">
                            {% if article.stock is defined %}
                                 {% if article.stock > 0 %}
                                    <small class="">Stock restant : {{ article.stock }}</small>
                                 {% else %}
                                    <small class="">article  momentanément indisponible</small>
                                 {% endif %}
                            {% endif %}
                                <br>
                            {% if article.nb_notes is defined %}
                            {% if article.nb_notes > 1 %}
                                 <a  href="/client/article/details/{{ article.id_telephone }}">
                                    <span style="color: #3A7734"> note : {{  "{:,.1f}".format(article.moy_notes) }}</span>
                                 </a>
                            {% endif %}
                            {% endif %}
                            {% if article.nb_avis is defined %}
                            {% if article.nb_avis > 0 %}
                                 <a href="/client/article/details/{{ article.id_telephone }}">
                                    <span style="color: #3A7734">({{ article.nb_avis }} avis)</span>
                                 </a>
                            {% endif %}
                            {% endif %}

                                <form  action="/admin/article/delete" method="post">
                                    <input type="hidden" name="id_telephone" value="{{ article.id_telephone }}">
                                    <button class="btn btn-danger float-right">Supprimer</button>
                                </form>

                            </div>
                        </div>
                {% endfor %}
        </div>
    </div>
<a  class="btn btn-outline-success" href="/admin/article/add">ajouter un article</a>
<br><br>


{% endblock %}
